* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  align-items: center;
}

.btn {
  margin-left: 20px;
  box-sizing: border-box;
  height: 50px;
  width: 100px;
  border-radius: 15px;
}

.data {
  display: flex;
  align-items: center;
}

.data p {
  font-size: 2rem;
  margin: 20px;
}

.data input {
  height: 50px;
}
